* {
    margin: ;
    padding:;
  }

:root {
  --verde-fundo: ;
  --fonte-principal: "";
  --verde-principal: ;
  --azul-principal: ;
  --verde-secundario: ;
  --link: #044815;
}

body{

}

/*Cabeçalho / Header */
.cabecalho{

}


/*seções comuns ou seção 1*/
.secao1{

}


/*rodapé*/
.rodape{

}