* {
    margin: 0;
    padding: 0;
  }

body{

}

/*Cabeçalho / Header */
.cabecalho{
  height: 150px;
  background-color: orange;
}


.cabecalho__titulo{
  color: white;
  text-align: center;
}
/*seções comuns ou seção 1*/
.secao1{

}


/*rodapé*/
.rodape{

}